<h1>Let's check what words your child can call seeing at the same time examine alphabet</h1>
<div class="content__showVision">
            <slick centerMode=true>
                    <div>
                        <video width="480" height="400" controls>
                            <source src="video/Family.mp4" type="video/mp4">
                            Your browser does not support the video tag.
                        </video>
                    </div>
                    <div>
                        <video width="480" height="400" controls>
                            <source src="video/Zoo.mp4" type="video/mp4">
                            Your browser does not support the video tag.
                        </video>
                    </div>
                    <div>
                        <video width="480" height="400" controls>
                            <source src="video/Phonics Song 2.mp4" type="video/mp4">
                            Your browser does not support the video tag.
                        </video>
                    </div>
                </slick>
            </div>
            <div class="content__shadow"><img src="img/shadow.png"></div>
