<h1>Include your child audiotape with the names of animals, let him try again</h1>
<div class="content__showHearing">
                <slick centerMode=true>
                    <div>
                        <audio controls>
                            <source src="audio/Pooh.ogg" type="audio/ogg">
                            <source src="audio/Pooh.mp3" type="audio/mpeg">
                            Your browser does not support the audio element.
                        </audio>
                    </div>
                    <div>
                        <audio controls>
                            <source src="audio/Pooh.ogg" type="audio/ogg">
                            <source src="audio/Pooh.mp3" type="audio/mpeg">
                            Your browser does not support the audio element.
                        </audio>
                    </div>
                    <div>
                        <audio controls>
                            <source src="audio/Pooh.ogg" type="audio/ogg">
                            <source src="audio/Pooh.mp3" type="audio/mpeg">
                            Your browser does not support the audio element.
                        </audio>
                    </div>
                </slick>
            </div>
            <div class="content__shadow"><img src="img/shadow.png"></div>
