<h1>At this age, a child should know 50 to 150 words.<br> Let's check them out!</h1>
<div class="content__showLanguage">
                <slick centerMode=true>
                    <div>
                        <img src="img/animals_cards_12.jpeg">
                    </div>
                    <div>
                        <img src="img/4_color.jpeg">
                    </div>
                    <div>
                        <img src="img/big_and_small.jpeg">
                    </div>
                </slick>
            </div>
            <div class="content__shadow"><img src="img/shadow.png"></div>
