<div class="content__body">
                    <a ui-sref=".language"><img class="language content__body--image" src="img/1.png"> </a>
                    <a ui-sref=".vision"><img class="vision content__body--image" src="img/2.png"> </a>
                    <a ui-sref=".hearing"><img class="hearing content__body--image" src="img/3.png"> </a>
                    <a ui-sref=".motility"><img class="motility content__body--image" src="img/5.png"> </a>
            </div>
            <div ui-view></div>
            <div class="content__wraper">
                <embed width="350" height="200" wmode="transparent" src="http://www.crazyprofile.com/butterfly/Butterfly.swf?nr=6&type1=0&type2=3&type3=1&type4=4&type5=5&type6=2" enablejavascript="false" allowscriptaccess="never" allownetworking="internal">
                <embed width="350" height="200" wmode="transparent" src="http://www.crazyprofile.com/butterfly/Butterfly.swf?nr=6&type1=0&type2=3&type3=1&type4=4&type5=5&type6=2" enablejavascript="false" allowscriptaccess="never" allownetworking="internal">
                <embed width="350" height="200" wmode="transparent" src="http://www.crazyprofile.com/butterfly/Butterfly.swf?nr=6&type1=0&type2=3&type3=1&type4=4&type5=5&type6=2" enablejavascript="false" allowscriptaccess="never" allownetworking="internal">
                <img class="still" src="img/grass.png">
            </div>
